
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 223 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 223 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 84% 5%;
    --primary: 28 87% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16% 47%;
    --accent: 198 76% 52%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 84% 60%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 28 87% 62%;
    --chart-1: 28 87% 62%;
    --chart-2: 198 76% 52%;
    --chart-3: 160 84% 39%;
    --chart-4: 258 90% 66%;
    --chart-5: 330 81% 60%;
    --radius: 0.5rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 214 32% 91%;
    --sidebar-primary: 28 87% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 28 87% 62%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 201.4 85.1% 54.5%;
  }
  .dark {
    --background: 210 40% 98%;
    --foreground: 223 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 223 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 84% 5%;
    --primary: 28 87% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 16% 47%;
    --accent: 198 76% 52%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 84% 60%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 28 87% 62%;
    --chart-1: 28 87% 62%;
    --chart-2: 198 76% 52%;
    --chart-3: 160 84% 39%;
    --chart-4: 258 90% 66%;
    --chart-5: 330 81% 60%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 214 32% 91%;
    --sidebar-primary: 28 87% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 28 87% 62%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 201.4 85.1% 54.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-tajawal), sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
  .custom-table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .custom-table-scroll {
    flex-grow: 1;
    overflow: auto;
  }
  .custom-table thead, .custom-table tfoot {
    position: sticky;
    z-index: 10;
  }
  .custom-table thead {
    top: 0;
  }
  .custom-table tfoot {
    bottom: 56px; /* Height of pagination footer */
  }

}
