
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;
    --primary: 13 94% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 32%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 13 94% 62%;
    --chart-1: 13 94% 62%;
    --chart-2: 213 94% 68%;
    --chart-3: 158 64% 52%;
    --chart-4: 255 92% 76%;
    --chart-5: 329 86% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 94%;
    --sidebar-foreground: 214 16% 83%;
    --sidebar-primary: 13 94% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 13 94% 62%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;
    --primary: 13 94% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 32%;
    --accent: 210 40% 96%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 13 94% 62%;
    --chart-1: 13 94% 62%;
    --chart-2: 213 94% 68%;
    --chart-3: 158 64% 52%;
    --chart-4: 255 92% 76%;
    --chart-5: 329 86% 70%;
    --sidebar-background: 0 0% 94%;
    --sidebar-foreground: 214 16% 83%;
    --sidebar-primary: 13 94% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 13 94% 62%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-tajawal), sans-serif;
    font-size: 14px;
  }
  .custom-table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .custom-table-scroll {
    flex-grow: 1;
    overflow: auto;
  }
  .custom-table thead, .custom-table tfoot {
    position: sticky;
    z-index: 10;
  }
  .custom-table thead {
    top: 0;
  }
  .custom-table tfoot {
    bottom: 56px; /* Height of pagination footer */
  }

}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .page-break {
    page-break-after: always;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}
