
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 10% 95.5%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 198.8 80.5% 55.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.3 31.8% 91.4%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 25.9 83.3% 62.9%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 201.4 85.1% 54.5%;
    --chart-1: 220 80% 60%;
    --chart-2: 160 70% 45%;
    --chart-3: 40 80% 55%;
    --chart-4: 280 75% 65%;
    --chart-5: 340 85% 60%;
    --radius: 0.5rem;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 198.8 80.5% 55.1%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 25.5%;
    --sidebar-ring: 201.4 85.1% 54.5%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 198.8 80.5% 55.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 25.9 83.3% 62.9%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 201.4 85.1% 54.5%;
    --chart-1: 220 80% 60%;
    --chart-2: 160 70% 45%;
    --chart-3: 40 80% 55%;
    --chart-4: 280 75% 65%;
    --chart-5: 340 85% 60%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 198.8 80.5% 55.1%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 25.5%;
    --sidebar-ring: 201.4 85.1% 54.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-tajawal), sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
  .custom-table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .custom-table-scroll {
    flex-grow: 1;
    overflow: auto;
  }
  .custom-table thead, .custom-table tfoot {
    position: sticky;
    z-index: 10;
  }
  .custom-table thead {
    top: 0;
  }
  .custom-table tfoot {
    bottom: 56px; /* Height of pagination footer */
  }

}
